# Dependencies
node_modules/
venv/
env/
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd

# Environments
.env
.env.local
backend/.env
app/.env

# Builds
dist/
build/
.vite/

# IDEs
.vscode/
.idea/
*.swp
.DS_Store

# Scratch / Test files
backend/test_out.txt
backend/test_gemini.py
backend/database.json


docs/
app/.agents/skills
app/skills-lock.json